[run]
branch = True
omit = \
       */functional_tests/*,
       */migrations/*,
       */test/*,
       */admin.py
       */conftest.py,
       darksite/manage.py,
       darksite/darksite/wsgi.py,
source = darksite
