[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
djangorestframework = "*"
markdown = "*"
"psycopg2" = "*"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"

[requires]
python_version = "3.6"
