[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
markdown = "*"
"psycopg2" = "*"
graphene-django = "*"
graphene = "*"
django-cors-headers = "*"
django-storages = "*"
"boto3" = "*"
pillow = "*"
"django-admin-sortable2" = "*"

[dev-packages]
ipython = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
"flake8" = "*"
bumpversion = "*"
codecov = "*"
coverage = "*"

[requires]
python_version = "3.6"
